/* Order styles */
.order-section {
  flex: 1;
  h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 600;
  }

  .order-content {
    border-bottom: 1px solid #eee;
    .status {
      padding: 4px 15px;
      font-size: 0.8rem;
      border-radius: 5px 5px 0px 0px;
      width: 80px;

      &.pending {
        background: #444;
        color: #fff;
      }

      &.delivered {
        background: #eee;
        color: #444;
      }
    }
  }

  .order-card {
    display: flex;
    background: #fff;
    padding-top: 20px;
    align-items: center;
    gap: 20px;
    @media (max-width: 500px) {
      padding: 15px 0px 0px 0px !important;
      gap: 10px;
    }

    img {
      width: 80px;
      border: 7px solid lightgray;
      border-radius: 1px;
      @media (max-width: 769px) {
        width: 70px;
      }
      @media (max-width: 500px) {
        width: 60px;
      }
    }

    .order-info {
      flex: 1;

      .order-id {
        font-size: 0.9rem;
        color: #888;
      }

      .title {
        font-weight: 600;
        margin: 0 0 5px 0;
      }

      .delivery {
        font-size: 0.9rem;
        color: #666;
      }
      p {
        @media (max-width: 769px) {
          font-size: 12px !important;
        }
      }
    }

    .order-payment {
      text-align: right;
      @media (min-width: 500px) {
        .chevron-mobile {
          display: none !important;
        }
        .chevron-desktop {
          display: block !important;
        }
      }
      @media (max-width: 500px) {
        .chevron-mobile {
          display: block !important;
        }
        .chevron-desktop {
          display: none !important;
        }
      }
      .payment {
        font-size: 0.85rem;
        color: #888;
      }

      .price {
        font-size: 1.2rem;
        font-weight: bold;
      }
       
      p {
        @media (max-width: 500px) {
          font-size: 12px !important;
        }
      }
    }
    @media (max-width: 769px) {
      padding: 15px 5px 0px 5px;
    }
  }

  @media (max-width: 769px) {
    padding: 0 !important;
  }
}
