
/* Order styles */
.order-section {
  flex: 1;
  // padding: 40px 30px;
  // border: 1px solid #000;
  margin-bottom: 50px;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 600;
  }

  .order-content {
    border-bottom: 1px solid #eee;
    .status {
      padding: 4px 15px;
      font-size: 0.8rem;
      border-radius: 5px 5px 0px 0px;
      width: 80px;

      &.pending {
        background: #444;
        color: #fff;
      }

      &.delivered {
        background: #eee;
        color: #444;
      }
    }
  }

  .order-card {
    display: flex;
    background: #fff;
    padding: 15px 15px 0px 15px;
    align-items: center;
    gap: 20px;

    img {
      width: 80px;
      border: 7px solid lightgray;
      border-radius: 1px;
      @media (max-width: 769px) {
        width: 70px;
      }
    }

    .order-info {
      flex: 1;

      .order-id {
        font-size: 0.9rem;
        color: #888;
      }

      .title {
        font-weight: 600;
        margin: 5px 0;
      }

      .delivery {
        font-size: 0.9rem;
        color: #666;
      }
      @media (max-width: 769px) {
        font-size: smaller;
      }
    }

    .order-payment {
      text-align: right;

      .payment {
        font-size: 0.85rem;
        color: #888;
      }

      .price {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 5px 0;
        @media (max-width: 769px) {
          font-size: 1em;
        }
      }
    }
    @media (max-width: 769px) {
      padding: 15px 5px 0px 5px;
    }
  }

  @media (max-width: 769px) {
    padding: 40px 10px !important;
  }
}
